@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #17191E;
  --foreground: #F3F8F7;
  --dot-bg: #121317;
  --dot-space: 3vw;
  --dot-size: 1.95vw;
  --dot-color: #246EB9ee;
}
body,html{
  width:100%;
  height:fit-content;
}
body {
  color: var(--foreground);
  background: var(--background);

  display: flex;
  align-items:center;
  justify-content:center;

}
