main {
  @apply w-full h-fit;

  section {
    @apply w-full h-svh flex justify-center items-center overflow-hidden;
  }

  div {
    @apply rounded-lg;
  }

  #mainWindow {
    @apply bg-background absolute w-[80%] h-5/6 top-[7%] left-[12%] border-white border-2 text-center flex flex-col;

    .content {
      @apply flex-1;

      #mainContent {
        @apply text-8xl font-thin items-center justify-center w-full h-full flex p-20 -translate-y-20;
      }
    }
  }

  #bottomWindow {
    @apply bg-background absolute w-[43%] h-1/4 bottom-[3%] left-1/2 border-white border-2 -translate-x-1/2 flex flex-col text-2xl text-center;

    .content {
      @apply flex-1 flex px-4 items-center justify-center;
    }
    span{
      @apply block;
    }
  }

  #leftWindow {
    @apply bg-background absolute w-1/4 h-1/5 bottom-[20%] left-[2%] border-white border-2 flex flex-col;

    .content {
      @apply flex-1 flex justify-center items-center px-10;
    }

    #lines {
      @apply flex-1 pl-4;

      .line1 {
        @apply bg-white h-1.5 w-4/5 my-3;
      }

      .line2 {
        @apply bg-white h-1.5 w-3/5 my-3;
      }
    }

    #ylwrect {
      @apply bg-yellow rounded aspect-square h-3/5;
    }

    .topbar {
      @apply justify-end px-3;
    }
  }

  .topbar {
    @apply w-full h-12 border-white border-b-2 flex items-center justify-center font-semibold text-lg;

    .title {
      @apply w-[90%] text-center;
    }

    .buttons {
      @apply flex;
    }

    #green {
      @apply bg-green;
    }

    #yellow {
      @apply bg-yellow;
    }

    #red {
      @apply bg-red;
    }

    .topBarBtns {
      @apply m-1 w-3.5 h-3.5 rounded-full;
    }
  }

  #internetOrigin {
    @apply flex justify-center items-center;
    background: radial-gradient(
          circle,
          var(--dot-bg) var(--dot-size),
          transparent var(--dot-size)
        )
        center / var(--dot-space) var(--dot-space),
      var(--dot-color);

    .infoArticle {
      @apply backdrop-blur-[3px] bg-[#17191Ecc] border-purple w-4/6;

      

    }
  }
  #arpanet {
    @apply justify-start;

    #arpanetLeft {
      @apply bg-black h-full max-w-[40%] mr-[10%] shadow-black;
      box-shadow: 0 0 120px 120px black;
    }
    #arpanetRight {
      @apply bg-darker border-blue border-2 w-1/2;
    }
  }
  #http {
    @apply flex justify-evenly;
    #httpLeft {
    }
    #httpRight {
      @apply  max-w-[55%];
    }
  }
  #plOrigins {
    @apply justify-evenly;
    .infoArticle {
      @apply border-yellow w-2/3;
    }
    .brackets{
      @apply h-5/6 w-auto absolute;
    }
    #leftBracket{
      @apply left-0;
    }
    #rightBracket {
      @apply right-0;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      
    }
  }
  .card{
    box-shadow: 0px 0px 50px #00000099;
  }


  .infoArticle {
    @apply rounded-3xl border-2 m-10 p-8 ;

    h1 {
      @apply text-5xl pb-10;
    }

    .textContent {
      @apply flex flex-1 text-[1.5rem] text-center justify-center items-center;
    }
  }

  article {
    @apply min-h-[40%] flex flex-col items-center text-center justify-center;
  }
}

.purple {
  @apply text-purple;
}

.red {
  @apply text-red;
}

.green {
  @apply text-green;
}

.blue {
  @apply text-blue;
}

.yellow {
  @apply text-yellow;
}

.yellow-glow {
  @apply text-shadow-yellow;
}

.darker {
  @apply bg-darker;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #07080c;
}
::-webkit-scrollbar-thumb {
  background: #6f2dbd;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #562395;
}
#httpsvg {
  filter: invert(22%) sepia(84%) saturate(3447%) hue-rotate(260deg)
    brightness(76%) contrast(93%);
}
